block footer
  - var promotionUrl = '/' + userId + '/promotion/' + promotionId
  - var historyUrl = '/' + userId + '/history' + (enablePromotion ? '?lastPromotionId='+promotionId : '')
  - var logoutUrl = '/' + userId + '/logout'
  - var promotionClass = 'validate ' + (enablePromotion ? '' : 'ui-disabled ') + (active == 1 ? 'ui-btn-active' : '')
  - var historyClass = 'validate ' + (enableHistory ? '' : 'ui-disabled ') + (active == 2 ? 'ui-btn-active' : '')
  - var logoutClass = 'validate ' + (enableLogout ? '' : 'ui-disabled ') + (active == 3 ? 'ui-btn-active' : '')
  div(data-role='footer', data-position='fixed', data-id='myFooter')
    div(data-role='navbar')
      ul
        li
          a(href=promotionUrl, id='tabA', data-icon='custom', class=promotionClass) Promotion
        li
          a(href=historyUrl, id='tabB', data-icon='custom', class=historyClass) History
        li
          a(href=logoutUrl, id='tabC', data-icon='custom', data-ajax=false, class=logoutClass) Logout