block footer
  - var promotionUrl = '/' + userId + '/promotion/' + promotionId
  - var historyUrl = '/' + userId + '/history' + (enablePromotion ? '?lastPromotionId='+promotionId : '')
  - var logoutUrl = '/' + userId + '/logout'
  - var promotionClass = 'validate ' + (enablePromotion ? '' : 'ui-disabled ') + (active == 1 ? 'ui-btn-active' : 'ui-btn')
  - var historyClass = 'validate ' + (enableHistory ? '' : 'ui-disabled ') + (active == 2 ? 'ui-btn-active' : 'ui-btn')
  - var logoutClass = 'validate ' + (enableLogout ? '' : 'ui-disabled ') + (active == 3 ? 'ui-btn-active' : 'ui-btn')
  div(data-role='footer', data-position='fixed', data-id='mainFooter')
    div(data-role='navbar', data-grid='d')
      ul(class='apple-navbar-ui comboSprite')
        li
          a(href=historyUrl, data-iconpos='top', data-icon='brands', class=historyClass) History
            span(class='ui-li-count') 10
        li
          a(href=promotionUrl, data-iconpos='top', data-icon='features', class=promotionClass) Promotion
        li
          a(href=logoutUrl, data-iconpos='top', data-icon='about', data-ajax=false, class=logoutClass) Logout