extends layout

block content
  div(data-role='header', data-position='fixed', data-theme='b', data-id='myHeader')
    h1= title
  p(id='userIdVal', class='userIdVal', hidden) #{userId}
  p(id='promotionIdVal', class='promotionIdVal', hidden) #{promotionId}
  p(class='error') This website requires Javascript & Web Storage to work. Please enable them or use a browser that supports them.
  script(type='text/javascript')
    $('.error').html('This website requires Web Storage to work. Please enable it or use a browser that supports it.');
    if (typeof(Storage) !== 'undefined')
      $('.error').html('');
    if (typeof(Storage) !== 'undefined' && $('.userIdVal').html() != '' && 
        localStorage.hasOwnProperty('CMPHASH') && 
        localStorage.getItem('CMPHASH') != null) {
      $.ajax({
        url: completeUrl('/' + $('.userIdVal').html() + '/valid?validationTest=1', localStorage.getItem('CMPHASH')),
        type: 'GET',
        success: function(data){
          window.location = completeUrl('/' + $('.userIdVal').text() + 
            [$('.promotionIdVal').text() == '' ? '/history' : '/promotion/' + 
            $('.promotionIdVal').text()], localStorage.getItem('CMPHASH'));
        },
        error: function(data){
          $('.error').html('An error occurred. Please log-in again.');
          localStorage.setItem('CMPHASH', null);
          localStorage.removeItem('CMPHASH');
        } 
      });
    }
    $(function(){
      $('.button').click(function(){
        $('.error').html('');
        if ($('.userId').val() != '' && $('.password').val() != ''){
          $.ajax({
            url: '/' + $('.userId').val() + '/login',
            type: 'POST',
            data: {userId: $('.userId').val(), password: $('.password').val()},
            success: function(data){
              localStorage.setItem('CMPHASH', data['Hash']);
              uri = '/' + $('.userId').val() + [$('.promotionId').val() == '' ? '/history' : '/promotion/' + $('.promotionId').val()];
              uri = completeUrl(uri, localStorage.getItem('CMPHASH'));
              window.location = uri;
              return false;
            },
            error: function(data){
              $('.error').html('Something went wrong: ' + JSON.stringify(data));
              return false;
            }
          });
        }
        else{
          if ($('.userId').val() == '')
            $('.error').html('You must enter a username!');
          if ($('.password').val() == '')
            $('.error').html(($('.error').html() == '' ? '' : $('.error').html() + '<br>') + 'You must enter a password!');
          return false;
        }
      });
    });
    $(function(){
      $('.lastInput').bind('keyup', function(e){
        if (e.which == 13)
          $('.button').click();
      });
    });
    $(function(){
      $('.userId').focus();
    });
  div(class='login')
    - var postUrl = '/';
    form(method='post', action=postUrl, class='loginForm')
      input(type='text', name='userId', id='userId', class='userId textInput', placeholder='Username')
      input(type='password', name='password', id='password', class='password textInput lastInput', placeholder='Password')
      input(type='hidden', id='promotionId', class='promotionId', val=promotionId)
      input(type='button', id='submitButton', class='button', value='Submit')
  include footer