extends layout

block content
  div(data-role='header', data-position='fixed', data-theme='b', data-id='myHeader')
    h1 #{data['Title']}
  div
    p(class='error')
  div#InputId
    script(type='text/javascript')
      function reject() { 
        $('.reason').show();
      }
      function approve() {
        $('.reason').hide();
      }
      $(document).ready(function() {
        $('.reason').hide();
      });
      $(function(){
        $('.button').click(function(){
          if (!$('input:radio[name=decision]:checked').val()){
            $('.error').html('You must approve or reject the promotion!');
            return false;
          }
          else if ($('input:radio[name=decision]:checked').val() == 'Reject' && !$('.reason').val()){
            $('.error').html('You must specifiy a reason for rejecting the promotion!');
            return false;
          }
          else{
            $('.decision').submit();
            return true;
          }
        });
      });
      $(function(){
        $('.decision').submit(function(data){
          $('.decision').attr('action', completeUrl($('.decision').attr('action'), localStorage.getItem('CMPHASH')));
          return true;
        })
      })
    if enableApprover
      - var postUrl = '/' + userId + '/promotion/' + promotionId + '/decision?count=' + count
      form(method='post', action=postUrl, data-ajax='false', id='decisionForm', class='decision')
        div(data-role='fieldcontain')
          fieldset(data-role='controlgroup', data-type='horizontal', class='decisions')
            input(type='radio', name='decision', id='approves', value='Approve', onClick='approve()')
            label(for='approves') Approve
            input(type='radio', name='decision', id='rejects', value='Reject', onClick='reject()')
            label(for='rejects') Reject
          input(type='text', name='reason', id='reason', class='reason', placeholder='Reason')
        input(type='button', id='submitButton', class='button', value='Submit')
  div#DescId
    p
      span(class='bolded') Description:
      | &nbsp
      span #{data['Description']}
  div#CreatId
    p
      span(class='bolded') Creator:
      | &nbsp
      span #{data['CreatorName']}
      | &nbsp &nbsp
      if data['CreatorEmail']
        - var email = 'mailto:' + data['CreatorEmail']
        a(href=email)
          img(src='/images/email.png', alt='email')
        | &nbsp &nbsp
      if data['CreatorTelephone']
        - var telephone = 'tel:' + data['CreatorTelephone']
        a(href=telephone)
          img(src='/images/telephone.png', alt='telephone number')
        | &nbsp &nbsp
      if data['CreatorMobile']
        - var mobile = 'tel:' + data['CreatorMobile']
        a(href=mobile)
          img(src='/images/mobile.png', alt='mobile number')
  div#MarketingId
    if data['MarketingObjective']
      p
        span(class='bolded') Marketing Objective:
        | &nbsp
        span #{data['MarketingObjective']}
  div#BudgetId
    if data['Budget']
      p
        span(class='bolded') Budget:
        | &nbsp
        span #{data['Budget']}
  div#AdvertisingId
    if data['AdvertisingCriteria']
      p
        span(class='bolded') Advertising Criteria:
        | &nbsp
        span #{data['AdvertisingCriteria']}
  div#ExpirationId
    if data['EffectiveDate'] || data['ExpireDate']
      p
        span(class='bolded') Effective Dates:
        | &nbsp
        - var effectivedates = data['EffectiveDate'] + ' - ' + data['ExpireDate']
        span #{effectivedates}
  div#UsecId
    table(data-role='table')
      thead
        tr
          th Title
          th USEC
          th Rate
      tbody
        - var alt = 0
        each usec in data['Usecs']
          - alt = 1 - alt
          tr(class=alt ? 'odd' : 'even')
            td
              p #{usec['Title'].toString()}
            td
              p #{usec['UsecCode'].toString()}
            td
              p #{usec['Rate'].toString()}
  div#ImageId
    - var popuppath = '/media/' + data['ImageId'] + '?minify=1'
    - var bigpath = '/media/' + data['ImageId']
    if data['ImageId']
      a(href=bigpath)
        img(src=popuppath)
  div#PrintId
    if data['DocumentUploads']
      p(class='bolded') Print
      ul
        each doc in data['DocumentUploads']
          - var docurl = '/media/' + doc['FileId']
          li
            a(href=docurl, data-ajax='false')
              p.filename #{doc['FileName']}
  div#AudioId
    if data['AudioUploads']
      p(class='bolded') Audio
      ul
        each audio in data['AudioUploads']
          - var audurl = '/media/' + audio['FileId']
          li
            a(href=audurl, data-ajax='false') 
              p.filename #{audio['FileName']}
  div#VideoId
    if data['VideoUploads']
      p(class='bolded') Video
      ul
        each video in data['VideoUploads']
          - var vidurl = '/media/' + video['FileId']
          li
            a(href=vidurl, data-ajax='false') 
              p.filename #{video['FileName']}
  div#ServicesId
    if data['TargetServices']
      p(class='bolded') Target Services:
      ul
        each service in data['TargetServices']
          li
            p #{service}
  div#CommunicationId
    if data['CommunicationTypes']
      p(class='bolded') Communication Types:
      ul
        each type in data['CommunicationTypes']
          li 
            p #{type}
  div#CommunityId
    if data['Locations']
      p(class='bolded') Communities:
      ul
        each location in data['Locations']
          - var loc = location['LibName'] + ': ' + location['Community']
          li
            p #{loc}
  div#StatusId
    if data['CustomerStatus']
      p
        span(class='bolded') Customer Status:
        span #{data['CustomerStatus']}
  div#TypeId
    if data['CustomerType']
      p
        span(class='bolded') Customer Type:
        span #{data['CustomerType']}
  div#DatesId
    if data['StartDate'] && data['EndDate']
      p
        span(class='bolded') Communication Dates:
        - var communicationdates = data['StartDate'] + ' - ' + data['EndDate'] 
        span #{communicationdates}

  div#ContractId
    if data['RequiresContract']
      p
        span(class='bolded') Requires Contract: 
        span #{data['RequiresContract']}
  div#TrainingId
    if data['RequiresTraining']
      p
        span(class='bolded') Requires Training: 
        span #{data['RequiresTraining']}
  div#CategoryId
    if data['Category']
      p
        span(class='bolded') Category:
        span #{data['Category']}
  div#QuickId
    if data['QuickView']
      p
        span(class='bolded') Quick View:
        span #{data['QuickView']}
  div#CommentId
    if data['Comments']
      p
        span(class='bolded') Comments:
        span #{data['Comments']}
    p
  include footer