extends layout

block content
  div(data-role='header', data-position='fixed', data-theme='b', data-id='myHeader')
    h1 #{data['Title']}
  div
    p(class='error')
  div#InputId
    script(type='text/javascript')
      function reject() { 
        $('.reason').show();
      }
      function approve() {
        $('.reason').hide();
      }
      $(document).ready(function() {
        $('.reason').hide();
      });
      $(function(){
        $('.button').click(function(){
          //$('.decision').attr('action', completeUrl($('.decision').attr('action'), localStorage.getItem('CMPHASH')));
          if (!$('input:radio[name=decision]:checked').val()){
            $('.error').html('You must approve or reject the promotion!');
            return false;
          }
          else if ($('input:radio[name=decision]:checked').val() == 'Reject' && !$('.reason').val()){
            $('.error').html('You must specifiy a reason for rejecting the promotion!');
            return false;
          }
          else{
            $('.error').html('No errors!');
            /*$.ajax({
               url: $('.decision').attr('action'),
               type: 'POST',
               data: {decision: $('input:radio[name=decision]:checked').val(), reason: $('.reason').val()},
               success: function(data){
                 window.location = url;
                 return true;
               },
               error: function(data){
                 $('.error').html('Something went wrong: ' + JSON.stringify(data));
                 return false;
               }
            });*/
            $('.decision').submit();
            return true;
          }
        });
      });
      $(function(){
        $('.decision').submit(function(data){
          $('.decision').attr('action', completeUrl($('.decision').attr('action'), localStorage.getItem('CMPHASH')));
          return true;
        })
      })
    if enableApprover
      - var postUrl = '/' + userId + '/promotion/' + promotionId + '/decision'
      form(method='post', action=postUrl, data-ajax='false', id='decisionForm', class='decision')
        div(data-role='fieldcontain')
          fieldset(data-role='controlgroup', data-type='horizontal', class='decisions')
            legend Decide:
            input(type='radio', name='decision', id='approves', value='Approve', onClick='approve()')
            label(for='approves') Approve
            input(type='radio', name='decision', id='rejects', value='Reject', onClick='reject()')
            label(for='rejects') Reject
          input(type='text', name='reason', id='reason', class='reason', placeholder='Reason')
        input(type='button', id='submitButton', class='button', value='Submit')
  div#DescId
    h2 Description
    p #{data['Description']}
  div#UsecId
    table(data-role='table')
      thead
        tr
          th Title
          th USEC
          th Rate
      tbody
        - var alt = 0
        each usec in data['Usecs']
          - alt = 1 - alt
          tr(class=alt ? 'odd' : 'even')
            td
              p #{usec['Title'].toString()}
            td
              p #{usec['UsecCode'].toString()}
            td
              p #{usec['Rate'].toString()}
  div#ImageId
    - var popuppath = '/media/' + data['ImageId'] + '?minify=1'
    - var bigpath = '/media/' + data['ImageId']
    if data['ImageId']
      a(href=bigpath)
        img(src=popuppath)
  div#PrintId
    h2 Print
    ul
      each doc in data['DocumentUploads']
        - var docurl = '/media/' + doc['FileId']
        #docurl
          li
            a(href=docurl, data-ajax='false')
              p.filename #{doc['FileName']}
  div#AudioId
    h2 Audio
    ul
      each audio in data['AudioUploads']
        - var audurl = '/media/' + audio['FileId']
        #audurl
          li
            a(href=audurl, data-ajax='false') 
              p.filename #{audio['FileName']}
  div#VideoId
    h2 Video
    ul
      each video in data['VideoUploads']
        - var vidurl = '/media/' + video['FileId']
        #vidurl
          li
            a(href=vidurl, data-ajax='false') 
              p.filename #{video['FileName']}
  div#ServicesId
    h2 Target Services
    ul
      each service in data['TargetServices']
        p #{service}
  div#MarketingId
    h2 Marketing Objective
    p #{data['MarketingObjective']}
  div#BudgetId
    h2 Budget
    p #{data['Budget']}
  div#AdvertisingId
    h2 Advertising Criteria
    p #{data['AdvertisingCriteria']}
  div#CommunicationId
    h2 Communication Types
    ul
      each type in data['CommunicationTypes']
        li 
          p #{type}
  div#CommunityId
    h2 Communities
    ul
      each location in data['Locations']
        - var loc = location['LibName'] + ': ' + location['Community']
        li
          p #{loc}
  div#StatusId
    h2 Customer Status
    p #{data['CustomerStatus']}
  div#TypeId
    h2 Customer Type
    p #{data['CustomerType']}
  div#DatesId
    h2 Communication Dates
    - var communicationdates = data['StartDate'] + ' - ' + data['EndDate'] 
    p #{communicationdates}
  div#ExpirationId
    h2 Effective Dates
    - var effectivedates = data['EffectiveDate'] + ' - ' + data['ExpireDate']
    p #{effectivedates}
  div#ContractId
    h2 Requires Contract
    p #{data['RequiresContract']}
  div#TrainingId
    h2 Requires Training
    p #{data['RequiresTraining']}
  div#CategoryId
    h2 Category
    p #{data['Category']}
  div#QuickId
    h2 Quick View
    p #{data['QuickView']}
  div#CommentId
    h2 Comments
    p #{data['Comments']}
  include footer