extends layout

block content
  div(data-role='header', data-position='fixed', data-theme='b', data-id='myHeader')
    h1= title
  table(data-role='table')
    tbody
      - var alt = 0
        each promo in data
          - var filepath = '/' + userId + '/promotion/' + promo['Id'];
          #filepath
            - alt = 1 - alt
              tr(class=alt ? 'odd' : 'even')
                td(class='promolist')
                  a(href=filepath, class='nocolor validate')
                    div
                      table
                        tbody
                          tr
                            h3.linked #{promo['Title']}
                          tr
                            h4.linked #{promo['Description']}
                td(class='promolist')
                  a(href=filepath, class='nocolor validate')
                    div
                      table
                        tbody
                          tr
                            h4.linked #{promo['CreatorName']}
                          tr
                            h5.linked #{promo['EffectiveDate']} - #{promo['ExpireDate']}
                td(class='promolist')
                  a(href=filepath, class='nocolor')
                    div
                      h4.linked #{promo['ApprovalStatus']}
  include footer